
# dependency on branch master18 of duckietown-world
# -e git://github.com/duckietown/duckietown-world.git@master18d#egg=duckietown-world

# testing
comptests==1.4.27
coverage
coveralls
bumpversion
jupyter
nbconvert
twine

# for library
catkin==0.7.14
catkin-pkg==0.4.9
catkin-tools==0.4.4
doxypypy==0.8.8.6
empy==3.3.2
numpy==1.11.0
PyYAML==3.11
rospkg==1.1.7
sympy==1.3
